html {
  -webkit-font-smoothing: subpixel-antialiased;
}

.hide {
  display: none;
}

body {
  background-color: #f5f8fa;
  margin: 0;
  color: #484848;
  // font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-family: Microsoft YaHei,Pingfang SC,Lantinghei SC,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
  font-size: 14px;
}

ul {
  padding: 0;
}

li, ul, ol {
  list-style: none;
}

ol {
  padding: 0;
}

#wrap-inner {
  padding: 30px 30px 40px 30px;
  min-height: 500px;
}

a:link, a:visited {
  color: #0a141a;
  text-decoration: none;
}

.block {
  border: 1px solid #e1e8ed;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
}

.clear {
  display: table;
  clear: both;
  height: 0px;
}
