.comments {
  .comments-likes {
    margin-top: 5px;
    margin-left: 5px;
    .likes-item {
      float: left;
      width: 30px;
      margin-right: 15px;
      height: 30px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 40px;
        border: 1px solid #ddd;
      }
    }

  }
}
