@font-face {
	font-family: 'rosettaIconFont';
	src: url(http://dribble-demo-assets.oss-cn-shenzhen.aliyuncs.com/rosetta-icons-Regular.woff);
	src: url(http://dribble-demo-assets.oss-cn-shenzhen.aliyuncs.com/rosetta-icons-Regular.ttf);
}
