@font-face {
	font-family: 'rosettaicons';
	src: url(http://dribble-demo-assets.oss-cn-shenzhen.aliyuncs.com/rosetta-icons-Regular.woff);
	src: url(http://dribble-demo-assets.oss-cn-shenzhen.aliyuncs.com/rosetta-icons-Regular.ttf);
}

.icon {
  background: transparent;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  position: relative;

  &:before {
    display: block;
    font-family: "rosettaicons";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    -webkit-font-smoothing: antialiased;
  }
}
