header {
  width: 100%;
  height: 64px;
  background-color: white;
  border-bottom: 1px solid rgb(230, 230, 230);
  text-align: center;
}

.main-logo {
  font-family: 'Arima Madurai', cursive;
  font-size: 40px;
  float: left;
  display: block;
  height: 64px;
  line-height: 64px;
  margin-left: 40px;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  &:hover {
    color: #265069;
  }
}
