#main-section {
  width: 1190px;
  min-height: 700px;
  min-height: 700px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;

  .row {
    width: 100%;

    > .left {
      float: left;
      width: 290px;
    }

    > .middle {
      float: left;
      width: 590px;
      margin: 0 10px;
    }

    > .right {
      float: left;
      width: 290px;
    }
  }


  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}
