.reply-panel {
  margin-top: 10px;

  textarea {
    width: 92%;
    height: 20px;
    float: left;
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    font-size: 14px;
    padding: 8px 10px;
    resize: none;
    border: 1px solid #A4D9F9;
  }

}
